* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f6eff6;
    color: #333;
    height: 100vh;
    position: relative; /* Set the positioning context for absolute positioning */
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the container */
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.back-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
}

h1 {
    font-size: 24px;
    flex-grow: 1;
}

.control-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

#fireIcon {
    font-size: 80px; /* Font Awesome icon size */
    color: #f44336;
    margin-bottom: 20px;
    transition: color 0.3s ease;
}

.control-button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px 0;
    width: 100%; /* Full width of container */
    max-width: 250px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.control-button:hover {
    background-color: #45a049;
}

.control-button.clicked {
    background-color: #f44336; /* Red color */
}
