/* home.css */
.home-content {
    display: block;
    /* Add any styles specific to the home section here */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #563d7c;
}

.welcome-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.welcome-section:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjusted min width for larger items */
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px; /* Increased padding for larger items */
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.grid-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.grid-item i {
    font-size: 70px; /* Increased icon size for larger items */
    color: #563d7c;
    margin-bottom: 10px;
}

.grid-item p {
    font-size: 22px; /* Increased font size for larger items */
    color: #333;
    margin: 0;
}
